# Emissions vs Disaster Severity
<br/>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
plt.rcParams["figure.figsize"] = (10, 8)

#### EM-DAT dataset

In [6]:
emdat_df = pd.read_excel("emdat_public_2022_11_07_query_uid-dvxNk1.xlsx", header=6)
emdat_df.head()

/opt/homebrew/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
2,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,781207.0,3.200175,NaN,NaN,NaN,NaN
3,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,3.200175,NaN,NaN,NaN,NaN
4,1902-0010-GTM,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,3.200175,NaN,NaN,NaN,NaN

In [11]:
chosen_years = [2018, 2019, 2020, 2021, 2022]

In [12]:
emdat_df_subset = emdat_df[emdat_df["Year"].isin(chosen_years)]
emdat_df_subset.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
13952,2018-0002-FRA,2018,2,NaN,Natural,Meteorological,Storm,Convective storm,Severe storm,Eleanor,...,NaN,NaN,NaN,200000.0,215820.0,92.66967,1;2,1253;1256;1259,16250;16254;16268;16277;16306;16307;16329;1633...,"Bretagne, Corse, Ile-de-France (Adm1). Haute-M..."
13953,2018-0082-ALB,2018,82,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,92.66967,1,335,NaN,Shkoder (Adm1).
13954,2018-0040-BRA,2018,40,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,10000.0,10791.0,92.66967,2,NaN,9961,Rio De Janeiro (Adm2).
13955,2018-0170-CUB,2018,170,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical storm 'Alberto',...,NaN,NaN,NaN,NaN,NaN,92.66967,1,1010;1011;1019;1020;1021;1023,NaN,"Ciego De Avila, Cienfuegos, Matanzas, Pinar De..."
13956,2018-0203-BGD,2018,203,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,92.66967,2,NaN,5772;5777,"Cox's Bazar, Rangamati (Adm2)."

In [ ]:
effects_cols = [
    "Total Deaths", "No Injured", "No Affected", "No Homeless", "Total Affected", "Reconstruction Costs ('000 US$)'", 
    "Reconstruction Costs", "Adjusted ('000 US$)", "Insured Damages ('000 US$)", "Insured Damages, Adjusted ('000 US$)", 
    "Total Damages ('000 US$)", "Total Damages, Adjusted ('000 US$)"
]

### Our World in Data dataset

In [13]:
owd_df = pd.read_csv("co2.csv")
owd_df.head()

        Entity Code  Year  Annual COâ‚‚ emissions (per capita)
0  Afghanistan  AFG  1949                           0.001922
1  Afghanistan  AFG  1950                           0.011266
2  Afghanistan  AFG  1951                           0.012098
3  Afghanistan  AFG  1952                           0.011946
4  Afghanistan  AFG  1953                           0.013685

In [14]:
owd_df_subset = owd_df[owd_df["Year"].isin(chosen_years)]
owd_df_subset.head()

          Entity Code  Year  Annual COâ‚‚ emissions (per capita)
69   Afghanistan  AFG  2018                           0.294876
70   Afghanistan  AFG  2019                           0.293401
71   Afghanistan  AFG  2020                           0.299746
72   Afghanistan  AFG  2021                           0.296119
296       Africa  NaN  2018                           1.055361